html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a.book-title, a.author, a.genre, a.review-author {
    color: inherit;
    text-decoration: none;
}

a.book-title:hover,
a.author:hover,
a.genre:hover,
a.review-author:hover {
    color: inherit;
    text-decoration: underline;
}

.btn:not(.btn-link):not(.btn-lg):hover {
    background-color: orange;
    border-color: orange;
    color: white;
}