@using BookPlatform.Core.ViewModels.Review
@model IEnumerable<ReviewViewModel>

<div class="container">
    <div class="col-md-9 col-sm-6 col-xs-12 min-vw-50">
        @foreach (ReviewViewModel review in Model)
        {
            <div class="card mt-3 mb-3 shadow-sm">
                <div class="card-body">
                    <a class="review-author mb-2" asp-controller="Profile" asp-action="Index" asp-route-genre="@review.Author">
                        <p class="text-secondary text-start">@review.Author</p>
                    </a>                    
                    <p class="card-text">@review.Content</p>
                    @if (review.IsModified == true)
                    {
                        <div class="card-footer">
                            <p class="text-secondary text-end">Modified</p>
                        </div>                        
                    }
                    @* <div class="align-content-end mt-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                        </svg>
                    </div> *@
                </div>
            </div>
            
            @* <p class="text-secondary text-end">@review.Likes Likes</p> *@
        }
    </div>        
</div>



